html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#navbar {
  border-right: 2px solid #C0C0C0;
  height: 100vh;
  position: fixed;
  ul {
    height: 87.5vh;
    overflow-x: hidden;
    overflow-y: scroll;
    div {
      border: 1px solid black;
      font-size: 125%;
      width: 250px;
    }
  }
  header {
    border: 2px solid black;
    color: black;
    font-size: 125%;
    font-weight: bold;
    padding: 25px 5px 25px 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    li {
      border: 1px solid black;
      padding: 10px;
      width: 250px;
    }
    li:hover {
      background: lighten(grey,20%);
      color: white;
    }
  }
}

#main-doc {
  margin-left: 325px;
  padding-right: 10px;
  header {
    font-size: 150%;
    font-weight: bold;
    padding: 10px 0;
  }
  p {
    margin-left: 25px;
  }
  .code, .non-code-block {
    margin-left: 50px;
  }
  code, .code {
    background: lightGrey;
  }
  code {
    padding: 0 2px;
  }
  .code {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 85%;
  }
}

#mobile-only {
  display: none;
}

@media (max-width: 768px) {
  #navbar {
    background: white;
    opacity: 1;
    width: 20px;
    z-index: 1;
    .menu-padding {
      background: grey;
      height: 2rem;
      opacity: 0.3;
      width: 100%;
    }
  }
  #navbar header {
    border: none;
    width: 250px;
  }
  #navbar ul {
    display: none;
  }
  #navbar:hover {
    width: 250px;
    ul {
      display: block;
      height: calc(87.5vh - 2rem);
    }
    #mobile-only {
      display: none;
    }
  }

  #main-doc {
    height: 80vh;
    left: 2vw;
    margin: 75px 0 0 25px;
    overflow: scroll;
    padding-bottom: 50px;
    position: fixed;
    width: 85vw;
  }

  #mobile-only {
    display: inline;
  }
}